{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello, myself Divy Solanki. A <u>Pro</u>grammer enthusiast about learning new technologies and developing new thing.</p>
        <p>I mainly code in Python as well learning a few other technologies.</p>
        <p>This website was created using flask to fork a copy of the code you can follow my Github account by clicking the Git icon in the footer.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}